extends layout

block content
	h1 Register
	p Please using fields blow
	ul.errors
		if errors
			each error , i in errors
				li.alert.alert-danger #{error.msg}
	form(method='post' ,action='/categories/add',enctype='multipart/form-data')
		.form-group
			lable Title
			input.form-control(name='title', type='text', placeholder='name')
		

		button.btn.btn-default(type='submit') Register
		

	