extends layout

block content
	h1 Register
	p Please using fields blow
	ul.errors
		if errors
			each error , i in errors
				li.alert.alert-danger #{error.msg}
	form(method='post' ,action='/post/add',enctype='multipart/form-data')
		.form-group
			lable Title
			input.form-control(name='title', type='text', placeholder='name')
		.form-group
			lable category
			select.form-control(name="category")
				each category , i in categories
					option(value='#{category.title}')  #{category.title}
		.form-group
			lable body
			textarea.form-control(name="body",id='body')
		.form-group
			lable Main Image
			input.form-control(name='mainimage',type='file')		
		.form-group
			lable Author
			select.form-control(name="author")		
				option(value= "osama", selected)= "osama"
				option(value= "hamed")= "hamed"

		button.btn.btn-default(type='submit') Register
		script(src='/ckeditor/ckeditor.js')
		script
			| CKEDITOR.replace('body');

	