extends layout

block content
	if posts
	each post, i in posts
		.post
			h1
				a(href='/post/show/#{post._id}') 
									= post.title
			p.meta Posted in
				a(href='/categories/show/#{post.category}') #{post.category} by #{post.author} on #{moment(post.date).format('MM-DD-YYYY')}
			img(src='./images/uploads/#{post.mainimage}')
			!=truncateText(post.body,400)
			a.more(href='/posts/show/#{post.id}') read more
	else
		p.nopost there is no post to display		

