doctype html
html
	head
		title Node Blog
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.container
			img.logo(src='/images/blog.png')
			nav
				ul
					li
						a(href='/') Home
					li
						a(href='/post/add') Add Post
					li
						a(href='/categories/add') Add category
						
			!=messages()			
			block content
			footer
				p NodeBlog &copyright; 2017
