extends layout

block content
	.show
		h1=post.title
		p.meta Posted in
				a(href='/categories/show/#{post.category}') #{post.category} by #{post.author} on #{moment(post.date).format('MM-DD-YYYY')}
		img(src='./images/uploads/#{post.mainimage}')
		!=post.body
		br
		hr
		if post.comments
			h3 comments
			each comment , i in post.comments
				.comment
					p.comment-name #{comment.name}
					p.comment-body #{comment.body}
			br
		h3 Add comment	
		if errors		
			ul.errors
				each error, i in errors
					li.alert.alert-danger #{error.msg}
		form.comment-form(method='post',action='/post/addcomment')
			input(name='postid',type='hidden',value='#{post._id}')
			.form-group
				lable Name
				input.form-control(type='text',name='name')
			.form-group
				lable Email
				input.form-control(type='email',name='email')
			.form-group
				lable Body
				textarea.form-control(name='body',id='body')
			br
			button.btn.btn-default(type='submit') Add Comment
